html, body{
    display: flex;
    flex-direction: row;
    height: 100%;
}

header{
    display: flex;
    flex-direction: column; /* Eigenlijk onnodig want bij elke div waarbij je de display op flex zet staat flex-direction al op row */
    width: 18%;
    height: 100%;
    background-color: green;
}

main{
    display: flex;
    flex-direction: row;
    width: 200%;
    height: 100%;
    background-color: orange;
}

.menu-button{
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 30px;
}

img{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
}

p{
    display: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: 300px;
}

div{
    width: 400px;
    height: 300px; 
}